@import "tailwindcss";

@theme {
 
  --color-koda-blue-deep: #003366;
  --color-koda-blue-marino: #0050A1;
  --color-koda-green-light: #34D399;
  --color-koda-green-emerald: #1EAD4E;
  --color-koda-dark: #333333;
  --color-koda-gray-light: #F5F5F5;
  --color-koda-border: #E5E7EB;

 
  --color-hero-start: #005CC8;
  --color-hero-end: #002D62;

 
  --color-btn-start: #22C55E; 
  
  --color-btn-end: #084826;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-koda-blue-deep) !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-koda-green-emerald) !important;
}

/* 🎨 Gradientes personalizados */
.bg-koda-gradient {
  @apply bg-gradient-to-r from-[#179152] to-[#074186];
}

.text-gradient {
  background: linear-gradient(to right, #179152, #074186);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ✨ Microinteracciones (hover) */
.btn-animated {
  @apply transition-transform duration-300 hover:-translate-y-1 hover:opacity-90;
}

/* 🌿 Efecto glassmorphism opcional (para header o tarjetas) */
.glass {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
