@import "tailwindcss";

@theme {
  --color-koda-blue-deep: #003366;
  --color-koda-blue-marino: #0050A1;

  --color-koda-green-light: #34D399;
  --color-koda-green-emerald: #1EAD4E;
  --color-koda-dark: #333333;
  --color-koda-gray-light: #F5F5F5;
}